<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/_fragments/layout :: head('Save Feedback')}"></head>
<body>
<header th:replace="~{/_fragments/layout :: header}"></header>
<div class="container my-2">
  <div class="card px-3">
    <h3 class="text-center" th:text="${(id == -1) ? 'Save' : 'Update'} + ' Feedback'"></h3>
    <div class="card-body">
      <form th:action="@{'/feedbacks/save/' + ${id}}" method="post" th:object="${feedbackDto}">
        <div class="row mb-3">
          <label for="type">Feedback type <span class="text-danger font-weight-bold">*</span></label>
          <select name="type" id="type" th:field="*{type}" class="custom-select form-control" required>
            <option value="" hidden>---Choose feedback type---</option>
            <option th:each="type : ${T(com.project.ems.feedback.enums.FeedbackType).values()}" th:text="${type}" th:value="${type}"></option>
          </select>
          <label for="description" class="mt-2">Description <span class="text-danger font-weight-bold">*</span></label>
          <textarea id="description" rows="3" th:field="*{description}" placeholder="Enter description" class="form-control" required></textarea>
          <label for="user-id" class="mt-2">User ID <span class="text-danger font-weight-bold">*</span></label>
          <input type="number" id="user-id" th:field="*{userId}" placeholder="Enter user ID" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success" style="width: 15%" th:text="${(id == -1) ? 'Save' : 'Update'}"></button>
        <a th:href="@{/feedbacks}" type="button" class="btn btn-danger ml-2" style="width: 15%">Cancel</a>
      </form>
    </div>
  </div>
</div>
<footer th:replace="~{/_fragments/layout :: footer}"></footer>
</body>
</html>