<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/_fragments/layout :: head('Mentor Details')}"></head>
<body>
<header th:replace="~{/_fragments/layout :: header}"></header>
<main class="container my-2">
  <div class="card px-3">
    <h3 class="text-center">Mentor Details</h3>
    <div class="card-body">
      <div class="row details">
        <div class="col-md-6">
          <p>Name: [[${mentor.name}]]</p>
          <p>Email: [[${mentor.email}]]</p>
          <p>Mobile: [[${mentor.mobile}]]</p>
          <p>Address: [[${mentor.address}]]</p>
          <p>Birthday: [[${mentor.birthday}]]</p>
          <p>Role: [[${mentor.role.authority}]]</p>
          <p>Mentor: [[${mentor.supervisingMentor != null ? mentor.supervisingMentor.name : 'null'}]]</p>
          <p>Studies: </p>
          <ul th:each="study : ${mentor.studies}">
            <li>
              <p>Title: [[${study.title}]]</p>
              <p>Institution: [[${study.institution}]]</p>
              <p>Description: [[${study.description}]]</p>
              <p>Study type: [[${study.type}]]</p>
              <p>Starting date: [[${study.startedAt}]]</p>
              <p>Finishing date: [[${study.finishedAt}]]</p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>Employment type: [[${mentor.employmentType}]]</p>
          <p>Position: [[${mentor.position}]]</p>
          <p>Grade: [[${mentor.grade}]]</p>
          <p>Nr trainees: [[${mentor.nrTrainees}]]</p>
          <p>Max trainees: [[${mentor.maxTrainees}]]</p>
          <p>Open for training: [[${mentor.isTrainingOpen}]]</p>
          <p>Experiences: </p>
          <ul th:each="experience : ${mentor.experiences}">
            <li>
              <p>Title: [[${experience.title}]]</p>
              <p>Institution: [[${experience.organization}]]</p>
              <p>Description: [[${experience.description}]]</p>
              <p>Experience type: [[${experience.type}]]</p>
              <p>Starting date: [[${experience.startedAt}]]</p>
              <p>Finishing date: [[${experience.finishedAt}]]</p>
            </li>
          </ul>
        </div>
      </div>
      <a th:href="@{/mentors}" type="button" class="btn btn-secondary btn-container"><i class="fas fa-arrow-left"></i> Back</a>
    </div>
  </div>
</main>
<footer th:replace="~{/_fragments/layout :: footer}"></footer>
</body>
</html>