<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/_fragments/layout :: head('Mentor Details')}"></head>
<body>
<header th:replace="~{/_fragments/layout :: header}"></header>
<main class="container my-2">
  <div class="card px-3">
    <h3 class="text-center">Mentor Details</h3>
    <div class="card-body">
      <div class="row" style="font-size: 14px; line-height: 0.9">
        <div class="col-md-6">
          <p>Name: <span th:text="${mentor.name}"></span></p>
          <p>Email: <span th:text="${mentor.email}"></span></p>
          <p>Mobile: <span th:text="${mentor.mobile}"></span></p>
          <p>Address: <span th:text="${mentor.address}"></span></p>
          <p>Birthday: <span th:text="${mentor.birthday}"></span></p>
          <p>Role: <span th:text="${mentor.role.authority}"></span></p>
          <p>Mentor: <span th:text="${mentor.supervisingMentor != null ? mentor.supervisingMentor.name : 'null'}"></span></p>
          <p>Studies: </p>
          <ul th:each="study : ${mentor.studies}">
            <li>
              <p>Title: <span th:text="${study.title}"></span></p>
              <p>Institution: <span th:text="${study.institution}"></span></p>
              <p>Description: <span th:text="${study.description}"></span></p>
              <p>Study type: <span th:text="${study.type}"></span></p>
              <p>Starting date: <span th:text="${study.startedAt}"></span></p>
              <p>Finishing date: <span th:text="${study.finishedAt}"></span></p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>Employment type: <span th:text="${mentor.employmentType}"></span></p>
          <p>Position: <span th:text="${mentor.position}"></span></p>
          <p>Grade: <span th:text="${mentor.grade}"></span></p>
          <p>Nr trainees: <span th:text="${mentor.nrTrainees}"></span></p>
          <p>Max trainees: <span th:text="${mentor.maxTrainees}"></span></p>
          <p>Open for training: <span th:text="${mentor.isTrainingOpen}"></span></p>
          <p>Experiences: </p>
          <ul th:each="experience : ${mentor.experiences}">
            <li>
              <p>Title: <span th:text="${experience.title}"></span></p>
              <p>Institution: <span th:text="${experience.organization}"></span></p>
              <p>Description: <span th:text="${experience.description}"></span></p>
              <p>Experience type: <span th:text="${experience.type}"></span></p>
              <p>Starting date: <span th:text="${experience.startedAt}"></span></p>
              <p>Finishing date: <span th:text="${experience.finishedAt}"></span></p>
            </li>
          </ul>
        </div>
      </div>
      <a th:href="@{/mentors}" type="button" class="btn btn-secondary" style="width: 15%"><i class="fas fa-arrow-left"></i> Back</a>
    </div>
  </div>
</main>
<footer th:replace="~{/_fragments/layout :: footer}"></footer>
</body>
</html>