<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/_fragments/layout :: head('Save User')}"></head>
<body>
<header th:replace="~{/_fragments/layout :: header}"></header>
<main class="container my-2">
  <div class="card px-3">
    <h3 class="text-center" th:text="${(id == -1) ? 'Save' : 'Update'} + ' User'"></h3>
    <div class="card-body">
      <form th:action="@{'/users/save/' + ${id}}" method="post" th:object="${userDto}">
        <div class="row mb-3">
          <label for="name">Name <span class="text-danger font-weight-bold">*</span></label>
          <input type="text" id="name" th:field="*{name}" placeholder="Enter name" class="form-control" required>
          <label for="email" class="mt-2">Email <span class="text-danger font-weight-bold">*</span></label>
          <input type="email" id="email" th:field="*{email}" placeholder="Enter email" class="form-control" required>
          <label for="mobile" class="mt-2">Mobile <span class="text-danger font-weight-bold">*</span></label>
          <input type="text" id="mobile" th:field="*{mobile}" placeholder="Enter mobile" class="form-control" required>
          <label for="address" class="mt-2">Address <span class="text-danger font-weight-bold">*</span></label>
          <input type="text" id="address" th:field="*{address}" placeholder="Enter address" class="form-control" required>
          <label for="birthday" class="mt-2">Birthday <span class="text-danger font-weight-bold">*</span></label>
          <input type="date" id="birthday" th:field="*{birthday}" placeholder="Enter birthday" class="form-control" required>
          <label for="role-id" class="mt-2">Role ID <span class="text-danger font-weight-bold">*</span></label>
          <input type="number" id="role-id" th:field="*{roleId}" placeholder="Enter role ID" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success" style="width: 15%" th:text="${(id == -1) ? 'Save' : 'Update'}"></button>
        <a th:href="@{/users}" type="button" class="btn btn-danger ml-2" style="width: 15%">Cancel</a>
      </form>
    </div>
  </div>
</main>
<footer th:replace="~{/_fragments/layout :: footer}"></footer>
</body>
</html>