<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<th:block th:fragment="header">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a th:href="@{/employees}" class="navbar-brand p-2">Employee Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a th:href="@{/authorities}" class="nav-item nav-link">Authorities</a>
          <a th:href="@{/experiences}" class="nav-item nav-link">Experiences</a>
          <a th:href="@{/feedbacks}" class="nav-item nav-link">Feedbacks</a>
          <a th:href="@{/mentors}" class="nav-item nav-link">Mentors</a>
          <a th:href="@{/roles}" class="nav-item nav-link">Roles</a>
          <a th:href="@{/studies}" class="nav-item nav-link">Studies</a>
          <a th:href="@{/users}" class="nav-item nav-link">Users</a>
        </div>
      </div>
    </nav>
  </header>
</th:block>
<th:block th:fragment="tableHeader(url, field, direction, fieldValue, text)">
  <th>
    <a class="thead-link" th:unless="${field eq fieldValue}" th:href="@{${url} + '&sort=' + ${fieldValue} + '%2Casc'}">[[${text}]]</a>
    <a class="thead-link" th:if="${field eq fieldValue and direction eq 'asc'}" th:href="@{${url} + '&sort=' + ${fieldValue} + '%2Cdesc'}">[[${text}]] <i class="fas fa-angle-down"></i></a>
    <a class="thead-link" th:if="${field eq fieldValue and direction eq 'desc'}" th:href="@{${url} + '&sort=id%2Casc'}">[[${text}]] <i class="fas fa-angle-up"></i></a>
  </th>
</th:block>
<th:block th:fragment="paginationLink(view, page, size, key, field, direction, text)">
  <a class="page-link" th:href="@{'/' + ${view} + '?page=' + ${page} + '&size=' + ${size} + '&key=' + ${key} + '&sort=' + ${field} + '%2C' + ${direction}}">[[${text}]]</a>
</th:block>
<th:block th:fragment="paginationItem(view, page, size, key, field, direction, index)">
  <li class="page-item">
    <a class="page-link" th:if="${page != index}" th:href="@{'/' + ${view} + '?page=' + ${index} + '&size=' + ${size} + '&key=' + ${key} + '&sort=' + ${field} + '%2C' + ${direction}}">[[${index + 1}]]</a>
    <a class="page-link" th:unless="${page != index}" th:disabled>[[${index + 1}]]</a>
  </li>
</th:block>
<th:block th:fragment="footer">
  <footer class="text-center text-lg-start bg-dark position-absolute fixed-bottom">
    <div class="text-white p-3">© Copyright <span th:text="${#dates.year(#dates.createNow())}"></span> - George Bacalu</div>
  </footer>
</th:block>
</body>
</html>