<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/_fragments/layout :: head('Role Details')}"></head>
<body>
<header th:replace="~{/_fragments/layout :: header}"></header>
<main class="container my-2">
  <div class="card px-3">
    <h3 class="text-center">Role Details</h3>
    <div class="card-body">
      <div class="row" style="font-size: 14px; line-height: 0.9">
        <div class="col-md-12">
          <p>ID: <span th:text="${role.id}"></span></p>
          <p>Authority: <span th:text="${role.authority}"></span></p>
        </div>
        <a th:href="@{/roles}" type="button" class="btn btn-secondary" style="width: 15%">Back</a>
      </div>
    </div>
  </div>
</main>
<footer th:replace="~{/_fragments/layout :: footer}"></footer>
</body>
</html>