<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/_fragments/layout :: head('Save Role')}"></head>
<body>
<header th:replace="~{/_fragments/layout :: header}"></header>
<main class="container my-2">
  <div class="card px-3">
    <h3 class="text-center" th:text="${(id == -1) ? 'Save' : 'Update'} + ' Role'"></h3>
    <div class="card-body">
      <form th:action="@{'/roles/save/' + ${id}}" method="post" th:object="${roleDto}">
        <div class="row mb-3">
          <label for="authority">Authority <span class="text-danger font-weight-bold">*</span></label>
          <select name="authority" id="authority" th:field="*{authority}" class="custom-select form-control" required>
            <option value="" hidden>---Choose authority---</option>
            <option th:each="authority : ${T(com.project.ems.role.enums.Authority).values()}" th:text="${authority}" th:value="${authority}"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-success" style="width: 15%"><i class="fa fa-save"></i> <span th:text="${(id == -1) ? 'Save' : 'Update'}"></span></button>
        <a th:href="@{/roles}" type="button" class="btn btn-danger ml-2" style="width: 15%"><i class="fa fa-times"></i> Cancel</a>
      </form>
    </div>
  </div>
</main>
<footer th:replace="~{/_fragments/layout :: footer}"></footer>
</body>
</html>